
.Completed {
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    text-decoration: line-through;
} 

i {
    cursor: pointer;
    padding: 3px;
    color: white;
}

.NotCompleted {
    cursor: pointer;
    user-select: none;
} 

.ListItem {
    display: flex;
    margin: 1rem -3rem 4px;
    padding: 0.5rem 3rem; 
    justify-content:  space-between;
    align-items: center;
    background: rgba(245, 164, 188, 0.5);
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
       
}

form button {
    background-color: rgb(174, 174, 235);
    color: ivory;
    padding: 4px;
    border-radius: 1rem;
    margin-left: 2px;
    outline: none;
    width: 3rem;
}

form button:hover {
    background-color: rgb(142, 142, 233);
    cursor: pointer;
}

i:hover{
    color: rgb(241, 75, 125)
}