* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: linear-gradient(90deg, #6972eb, #a2d8e5, #77f1f1);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
